body {
  background-color: #DCD0C0;
}

img {
  width: 450px;
  padding:20px;
}

h1 {
  color: #0E0B16;
}

h6 {
  color: #0E0B16;
}

header {
  background-color: #C0B283;

}

audio {
  padding: 30px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.pics {
    display: inline-block;
  }


h2 {
  color: #373737
}

.content {
  float: left;
width: 50%;
margin: 20px;
}


.western {
  display: inline;
}

.explosions {
  display: inline;
}

.stranger {
  display: inline;

}

ul {
  list-style: none;
  margin-top:0px;
  display: inline;

}

li {
  display: inline;
  height: inherit;
  padding: 10px;
  text-align: left;
}


a {
   color: #0E0B16;
   text-decoration: none;

}

a:link {
   color: #0E0B16;
}

a:visited {
   color: #0E0B16;
}

a:active {
   color: #0E0B16;
}

a:hover {
   color: #0E0B16;
}

footer {
  
  grid-column: span 4;
  margin: none;
  text-align: center;
}
