body {
  background-image: url(8_pic1.png);
}

div {
  background-color: white;
  border: 2px solid black;
  width: 960px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px auto 75px;
  font-family: Georgia;
  font-style: Georgia;
}

.huh {
  font-weight: 600;
}

h1 {
  font-weight: normal;
}


header {
  grid-column: span 4;
  color: white;
  background-color: black;
  border: 3px solid black;
  padding: 7px;
  font-family: Helvetica;
  font-style: Helvetica;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 0px;
  padding: 10px;
  width: 230px;
  background-color: red;
  text-decoration: none;
}

li:hover {
  background-color:maroon;
  }

li a {
  display: block;
  text-decoration: none;
}

a {
  font-family: Helvetica;
  font-style: Helvetica;
  text-decoration: none;
  color: white;
}

nav {
  grid-column: span 1;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  float: left;
  margin: 5px;
  width: 385px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: 3px solid black;
}

.red {
   color: red;
}

.red:link {
   color: red;
}

.red:visited {
   color: red;
}

.red:active {
   color: #00ffff;
}

.red:hover {
   color: blue;
   text-decoration: underline;
}

.port {
  color: red;
}

.port:link {
  color: red;
}

.port:visited {
   color: red;
}

.port:active {
   color: #00ffff;
}

.port:hover {
   color: blue;
   text-decoration: underline;
}

.port {
  font-style: bold;
}

.doit {
  color: red;
}

.doit:link {
  color: red;
}

.doit:visited {
   color: red;
}

.doit:active {
   color: #00ffff;
}

.doit:hover {
   color: blue;
   text-decoration: underline;
}

.mcs {
  color: red;
}

.mcs:link {
  color: red;
}

.mcs:visited {
   color: red;
}

.mcs:active {
   color: #00ffff;
}

.mcs:hover {
   color: blue;
   text-decoration: underline;
}

.mysong {
  text-align: center;
  font-family: Georgia;
  font-style: bold Georgia;
}
main {
  /* width: 720px;
  margin-left: 240px; */
  grid-column: span 3;
  margin-right: 15px;
}

footer {
  grid-column: span 4;
  color: white;
  border: 3px solid red;
  font-family: Verdana;
  font-style: Verdana;
  font-style: italic;
  background-color: red;
  t
}
