body {
  background-image: url(paper.png);
}

a {
   color: #819596;
}

a:link {
   color: #819596;
}

a:visited {
   color: #819596;
}

.joel {
  font-family: Arial;
  font-style:Arial;
  font-size: 30px;
  padding-top: 20px;
}
a:active {
   color: #819596;
}

a:hover {
   color: white;
}

a {
  text-decoration: none
}

header {
  color: #819596;
  background-color: #819596;
}

footer {
  color: #819596;
  background-color: #819596;
}

.pxbox {
  position: absolute; top: 0px; right: 0px; left: 0px; margin: 0px auto;
}

.pxbox2 {
  position: absolute; bottom: -80px; right: 0px; left: 0px; margin: 0px auto;
}

.llewyn {
  color: #819596;
  font-style: Arial;
  font-family: Arial;
  font-size: 30px;
  line-height: 10px;
}

#cast {
  font-size: 20px;
  font-family: helvetica;
  font-style: normal;
  color: #819596;
  line-height: 30px;
}

.joel {
  font-family: Arial;
  font-style: arial;
  line-height: 0px;
}

.inside {
  border-top: 0px;
  font-family: Arial,sans-serif;
  font-style: Arial;
  font-size: 30px;
  line-height: 55px;
}

u {
  font-size:18px;
  font-family: Arial;
  font-style: Arial;
  line-height: 1px;
}

.coming {
  font-size: 30px;
  font-family: Arial;
  font-style: Arial;
  line-height: 10px;
}
